.vscode
.idea
/node_modules
yarn.lock
yarn-error.log
.DS_Store
.env
.env.*
dist/

__pycache__/*
*.pyc
*.pyo
.Python
.Python*
.venv
.venv/*
.egg-info
.egg-info/*
.installed.cfg
.pip-delete-this-directory
.pip-selfcheck.json
Pipfile.lock
Pipfile.lock.*

TOKEN

logs/*
*.log

build/
dist/
